@import "tailwindcss";

:root {
  --primary: #2ea57c;
  --accent: #25bd8a;
  --secondary: #eaf6ef;
  --dark: #27413a;
  --text-brand: #2ea57c;
  --text-danger: #e31d1c;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@layer base {
  /* Colors */
  .bg-primary {
    background-color: var(--primary);
  }
  .bg-accent {
    background-color: var(--accent);
  }
  .bg-secondary {
    background-color: var(--secondary);
  }
  .bg-dark {
    background-color: var(--dark);
  }

  .text-primary {
    color: var(--primary);
  }
  .text-accent {
    color: var(--accent);
  }
  .text-secondary {
    color: var(--secondary);
  }
  .text-dark {
    color: var(--dark);
  }
  .text-danger {
    color: var(--text-danger);
  }
}
