@import "tailwindcss";

:root {
  --primary: #2ea57c;
  --accent: #25bd8a;
  --secondary: #eaf6ef;
  --dark: #27413a;
  --text-brand: #2ea57c;
  --text-danger: #e31d1c;
}

:root {
  --font-lato: var(--font-lato);
  --font-quick: var(--font-quick);
}
