@import "tailwindcss";

:root {
  --primary: #2ea57c;
  --accent: #25bd8a;
  --secondary: #eaf6ef;
  --dark: #27413a;
  --text-brand: #2ea57c; /* from demo */
  --text-danger: #e31d1c; /* from demo */
  --text-success: #67bd23; /* from demo */
}

:root {
  --font-lato: var(--font-lato);
  --font-quick: var(--font-quick);
}
